.DS_Store
.vscode/c_cpp_properties.json

#remove built binaries
build/*

#tex3ds output. the sources are the png and t3s pairs in gfx/
romfs/gfx/

#remove built game files
*.3dsx
*.elf
*.smdh
#linker map listing
*.lst
